/************************************************************
GLOBAL
************************************************************/
/******************************
Main
******************************/
*, *:before, *:after {
  -webkit-appearance:none;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: $white;
  font-family: $sans;
}
#container {
}
#stops-content,
#etas-content {
}
.line-blue #container {
  background: $blue;
  #geolocate-toggle i {
    color: $blue;
  }
}
.line-brown #container {
  background: $brown;
  #geolocate-toggle i {
    color: $brown;
  }
}
.line-green #container {
  background: $green;
  #geolocate-toggle i {
    color: $green;
  }
}
.line-orange #container {
  background: $orange;
  #geolocate-toggle i {
    color: $orange;
  }
}
.line-pink #container {
  background: $pink;
  #geolocate-toggle i {
    color: $pink;
  }
}
.line-purple #container {
  background: $purple;
  #geolocate-toggle i {
    color: $purple;
  }
}
.line-red #container {
  background: $red;
  #geolocate-toggle i {
    color: $red;
  }
}
.line-yellow #container {
  background: $yellow;
  #geolocate-toggle i {
    color: $yellow;
  }
}
.line-blue #etas-content {
  color: $dark_blue;
  .path {
    stroke: $dark_blue
  }
  #etas-nav {
    background: $dark_blue;
  }
}
.line-brown #etas-content {
  color: $dark_brown;
  .path {
    stroke: $dark_brown;
  }
  #etas-nav {
    background: $dark_brown;
  }
}
.line-green #etas-content {
  color: $dark_green;
  .path {
    stroke: $dark_green;
  }
  #etas-nav {
    background: $dark_green;
  }
}
.line-orange #etas-content {
  color: $dark_orange;
  .path {
    stroke: $dark_orange;
  }
  #etas-nav {
    background: $dark_orange;
  }
}
.line-pink #etas-content {
  color: $dark_pink;
  .path {
    stroke: $dark_pink;
  }
  #etas-nav {
    background: $dark_pink;
  }
}
.line-purple #etas-content {
  color: $dark_purple;
  .path {
    stroke: $dark_purple;
  }
  #etas-nav {
    background: $dark_purple;
  }
}
.line-red #etas-content {
  color: $dark_red;
  .path {
    stroke: $dark_red;
  }
  #etas-nav {
    background: $dark_red;
  }
}
.line-yellow #etas-content {
  color: $dark_yellow;
  .path {
    stroke: $dark_yellow;
  }
  #etas-nav {
    background: $dark_yellow;
  }
}

::selection {
  background: $black;
  color: $white;
}
::-moz-selection {
  background: $black;
  color: $white;
}

/******************************
Floats
******************************/
.float-clear {
  *zoom: 1;

  &:before, &:after {
      content: "";
      display: table;
  }
  &:after {
      clear: both;
  }
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
