/************************************************************
GLOBAL
************************************************************/
/******************************
Main
******************************/
*, *:before, *:after {
  -webkit-appearance:none;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: $black;
  color: $black;
  overflow-x: hidden;
  width: 100%;
}
#container {
  background: $white;
  @include transition(margin-left .5s);
}
.line-blue #container {
  background: linear-gradient(to left, $blue 66%, $dark_blue);
}
.line-brown #container {
  background: linear-gradient(to left, $brown 66%, $dark_brown);
}
.line-green #container {
  background: linear-gradient(to left, $green 66%, $dark_green);
}
.line-orange #container {
  background: linear-gradient(to left, $orange 66%, $dark_orange);
}
.line-pink #container {
  background: linear-gradient(to left, $pink 66%, $dark_pink);
}
.line-purple #container {
  background: linear-gradient(to left, $purple 66%, $dark_purple);
}
.line-red #container {
  background: linear-gradient(to left, $red 66%, $dark_red);
}
.line-yellow #container {
  background: linear-gradient(to left, $yellow 66%, $dark_yellow);
}
::selection {
  background: $black;
  color: $white;
}
::-moz-selection {
  background: $black;
  color: $white;
}

/******************************
Align
******************************/
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

/******************************
Display
******************************/
.display-block {
  display: block;
}
.display-inline {
  display: inline;
}
.display-inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
.display-none {
  display: none;
}
.display-table {
  display: table;
}

/******************************
Hide
******************************/
.hide-small-up {
  @media screen and (min-width: $small) {
    display: none !important;
  }
}
.hide-medium-up {
  @media screen and (min-width: $medium) {
    display: none !important;
  }
}

.hide-large-up {
  @media screen and (min-width: $large) {
    display: none !important;
  }
}

.hide-small-down {
  @media screen and (max-width: $small) {
    display: none !important;
  }
}
.hide-medium-down {
  @media screen and (max-width: $medium) {
    display: none !important;
  }
}
.hide-large-down {
  @media screen and (max-width: $large) {
    display: none !important;
  }
}

/******************************
Floats
******************************/
.float-clear {
  *zoom: 1;

  &:before, &:after {
      content: "";
      display: table;
  }
  &:after {
      clear: both;
  }
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
