/************************************************************
VARS
************************************************************/
/******************************
Colors
******************************/
$white: #fdfdfd;
$greyDk: #333333;
$greyLt: #f0f0f0;
$greyMd: #bdc3c7;
$black: #231f20;

$line_blue: #00a1de;
$line_brown: #62361b;
$line_green: #009b3a;
$line_orange: #f9461c;
$line_pink: #e27ea6;
$line_purple: #522398;
$line_red: #c60c30;
$line_yellow: #f9e300;

$blue: #2196F3;
$brown: #795548;
$green: #4CAF50;
$orange: #FF9800;
$pink: #E91E63;
$purple: #9C27B0;
$red: #F44336;
$yellow: #FFEB3B;

$dark_blue: #2196F3;
$dark_brown: #795548;
$dark_green: #4CAF50;
$dark_orange: #FF9800;
$dark_pink: #E91E63;
$dark_purple: #9C27B0;
$dark_red: #F44336;
$dark_yellow: #FFEB3B;

$light_blue: #2196F3;
$light_brown: #795548;
$light_green: #4CAF50;
$light_orange: #FF9800;
$light_pink: #E91E63;
$light_purple: #9C27B0;
$light_red: #F44336;
$light_yellow: #FFEB3B;
/******************************
Sizes
******************************/
$small: 380px;
$s-m: 640px;
$medium: 768px;
$m-l: 960px;
$large: 1024px;
$xl: 1280px;

/******************************
Fonts
******************************/
@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700);

$heading: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
$mono: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "Baskerville", "calluna", Georgia, Times, "Times New Roman", serif;

/******************************
Transition
******************************/
$transition-standard: .3s cubic-bezier(0.905, 0.015, 0.65, 0.97) 0s;
$transition-static: .3s;

@mixin transition($transition: all .3s) {
  -webkit-transition: $transition;  
  -moz-transition: $transition;
  -ms-transition: $transition; 
  -o-transition: $transition;  
  transition: $transition;
}
