.eta.route-1 + .eta.route-5,
.eta.route-5 + .eta.route-1 {
  margin-top: 1em;
}
.destination {
  float: left;
  small {
    display: block;
    font-size: .33em;
    font-weight: normal;
  }
}
.distance {
  float: right;
  text-align: right;
  small {
    display: block; 
    font-size: .33em;
    font-weight: normal;
  }
}
