#stops-list {
  list-style-type: none;
}

.card {
  background: rgba($white,.125);
  color: $white;
  display: block;
  padding: 1em;
  margin: 0 auto;
  list-style-type: none;
  @media screen and (min-width: $large) {
    font-size: 2em;
  }
}
