@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/************************************************************
VARS
************************************************************/
/******************************
Colors
******************************/
/******************************
Sizes
******************************/
/******************************
Fonts
******************************/
/******************************
Transition
******************************/
/************************************************************
GLOBAL
************************************************************/
/******************************
Main
******************************/
*, *:before, *:after {
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #231f20;
  overflow-x: hidden;
  width: 100%; }

#container {
  background: #fdfdfd;
  -webkit-transition: margin-left 0.4s;
  -moz-transition: margin-left 0.4s;
  -ms-transition: margin-left 0.4s;
  -o-transition: margin-left 0.4s;
  transition: margin-left 0.4s; }

#stops-content,
#etas-content {
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -ms-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s; }

.line-blue #stops-content {
  background: #2962ff; }

.line-brown #stops-content {
  background: #5d4037; }

.line-green #stops-content {
  background: #388e3c; }

.line-orange #stops-content {
  background: #ff6d00; }

.line-pink #stops-content {
  background: #c51162; }

.line-purple #stops-content {
  background: #7b1fa2; }

.line-red #stops-content {
  background: #d50000; }

.line-yellow #stops-content {
  background: #fbc02d;
  color: #231f20; }
  .line-yellow #stops-content a {
    color: #231f20; }

#etas-content {
  box-shadow: 3px 0px 3px -3px #231f20 inset; }

.line-blue #etas-content {
  background: #2196f3; }

.line-brown #etas-content {
  background: #795548; }

.line-green #etas-content {
  background: #4caf50; }

.line-orange #etas-content {
  background: #ff9800; }

.line-pink #etas-content {
  background: #e91e63; }

.line-purple #etas-content {
  background: #9c27b0; }

.line-red #etas-content {
  background: #f44336; }

.line-yellow #etas-content {
  background: #ffeb3b;
  color: #231f20; }
  .line-yellow #etas-content a {
    color: #231f20; }

::selection {
  background: #231f20;
  color: #fdfdfd; }

::-moz-selection {
  background: #231f20;
  color: #fdfdfd; }

/******************************
Align
******************************/
.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

/******************************
Display
******************************/
.display-block {
  display: block; }

.display-inline {
  display: inline; }

.display-inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline; }

.display-none {
  display: none; }

.display-table {
  display: table; }

/******************************
Hide
******************************/
@media screen and (min-width: 380px) {
  .hide-small-up {
    display: none !important; } }

@media screen and (min-width: 768px) {
  .hide-medium-up {
    display: none !important; } }

@media screen and (min-width: 1024px) {
  .hide-large-up {
    display: none !important; } }

@media screen and (max-width: 380px) {
  .hide-small-down {
    display: none !important; } }

@media screen and (max-width: 768px) {
  .hide-medium-down {
    display: none !important; } }

@media screen and (max-width: 1024px) {
  .hide-large-down {
    display: none !important; } }

/******************************
Floats
******************************/
.float-clear {
  *zoom: 1; }
  .float-clear:before, .float-clear:after {
    content: "";
    display: table; }
  .float-clear:after {
    clear: both; }

.float-left {
  float: left; }

.float-right {
  float: right; }

/************************************************************
TYPOGRAPHY
************************************************************/
/******************************
Default
******************************/
body {
  color: #fdfdfd;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: subpixel-antialiased; }

/******************************
Font Options
******************************/
.f-heading {
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.f-mono {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; }

.f-sans {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.f-serif {
  font-family: "Baskerville", "calluna", Georgia, Times, "Times New Roman", serif; }

/******************************
Headers
******************************/
h1, .h1 {
  font-size: 3em;
  font-weight: bold; }

h2, .h2 {
  font-size: 2em;
  font-weight: bold; }

h3, .h3 {
  font-size: 1.5em;
  font-weight: bold; }

h4 .h4 {
  font-size: 1.17em;
  font-weight: bold; }

h6, .h6 {
  font-size: .75em;
  font-weight: bold; }

/******************************
Aside
******************************/
aside,
.aside {
  background: #f0f0f0;
  color: #231f20;
  font-size: .75em;
  margin-top: 1em;
  padding: .25em 1em; }

/******************************
Quote
******************************/
blockquote,
q,
.blockquote,
.quote {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  margin: 1em .5em; }
  blockquote.callout,
  q.callout,
  .blockquote.callout,
  .quote.callout {
    border-left: 1px dotted #bdc3c7;
    padding-left: .5em; }
  blockquote small, blockquote .small,
  q small,
  q .small,
  .blockquote small,
  .blockquote .small,
  .quote small,
  .quote .small {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .5em;
    margin-left: 1em; }

/******************************
Address
******************************/
address,
.address {
  margin: .5em 0; }

/******************************
Code
******************************/
code,
pre,
.code,
.pre {
  display: block;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 1.25em;
  margin: .5em 0; }
  code.callout,
  pre.callout,
  .code.callout,
  .pre.callout {
    border: 1px dotted #bdc3c7;
    padding: .5em; }

/******************************
Misc
******************************/
.amp {
  font-family: Baskerville, "Goudy Old Style", Palatino, "Book Antiqua", serif;
  font-style: italic;
  font-weight: normal; }

/************************************************************
LINKS
************************************************************/
/******************************
Base
******************************/
a, .link,
a:visited, .link:visited {
  color: #fdfdfd;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  a:active, a:hover, .link:active, .link:hover,
  a:visited:active,
  a:visited:hover, .link:visited:active, .link:visited:hover {
    border-color: inherit;
    color: inherit; }

/************************************************************
IMAGE
************************************************************/
/******************************
Images
******************************/
img {
  max-width: 100%; }

/******************************
Background Images
******************************/
.bg-image {
  background-position: center center;
  background-size: cover; }

/************************************************************
BUTTONS
************************************************************/
/******************************
Base
******************************/
button,
.button,
input[type="submit"],
.submit:visited,
.button:visited {
  background: #f0f0f0;
  border: none;
  border-radius: 3px;
  color: #fdfdfd;
  cursor: pointer;
  display: block;
  letter-spacing: 1px;
  margin: 0 auto 1em;
  max-width: 12.5em;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  -webkit-appearance: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  button:hover,
  .button:hover,
  input[type="submit"]:hover,
  .submit:visited:hover,
  .button:visited:hover {
    background: #e3e3e3;
    color: #fdfdfd; }

/******************************
States
******************************/
button.disabled, button:disabled,
.button.disabled, .button:disabled,
submit.disabled, submit:disabled,
.submit.disabled, .submit:disabled {
  background: #f0f0f0;
  color: #bdc3c7;
  cursor: default; }

.toggle {
  background: #fdfdfd;
  border: 1px solid #fdfdfd;
  border-radius: .83em;
  display: inline-block;
  font-size: .83em;
  overflow: hidden;
  text-align: left;
  text-transform: uppercase;
  margin: 0 .25em;
  padding: .25em 0;
  white-space: nowrap;
  vertical-align: middle;
  width: 5em; }

.toggle.on .on {
  margin-left: 0; }

.toggle.off .on {
  margin-left: -5.25em; }

.toggle.on {
  background: #f0f0f0; }

.toggle.off {
  background: #f0f0f0; }

.toggle.on:hover {
  background: #fdfdfd; }
  .toggle.on:hover .toggle-option {
    color: #231f20; }
    .toggle.on:hover .toggle-option:after {
      background: #f0f0f0; }

.toggle.off:hover {
  background: #fdfdfd; }
  .toggle.off:hover .toggle-option {
    color: #231f20; }
    .toggle.off:hover .toggle-option:after {
      background: #f0f0f0; }

.toggle-option {
  color: #fdfdfd;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  position: relative;
  width: 5em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .toggle-option:after {
    background: #fdfdfd;
    border-radius: 50%;
    content: "";
    display: block;
    height: .75em;
    position: absolute;
    top: .06em;
    width: .75em;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s; }

.toggle-option.on {
  padding: 0 1.75em 0 .25em; }
  .toggle-option.on:after {
    right: .5em; }

.toggle-option.off {
  padding: 0 .25em 0 1.75em; }
  .toggle-option.off:after {
    left: .5em; }

#content {
  margin: 0;
  padding: 0;
  position: relative;
  margin-left: 0;
  min-height: 320px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  width: 200%; }

#etas-content,
#stops-content {
  float: left;
  padding: 2em 0;
  position: relative;
  overflow: scroll;
  min-height: 320px;
  width: 50%; }

.show-etas #content {
  margin-left: -100%; }
  @media screen and (min-width: 1024px) {
    .show-etas #content {
      margin-left: 0;
      width: 100%; } }

.spinner {
  display: block;
  margin: auto;
  -webkit-animation: rotator 1.4s linear infinite; }

@-webkit-keyframes rotator {
  0% {
    transform: rotate(0deg); }

  100% {
    transform: rotate(270deg); } }

.path {
  stroke: #fdfdfd;
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite; }

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187; }

  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg); }

  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg); } }

.station-header {
  background: #00a1de;
  padding: 2em 1em;
  text-align: center; }
  .station-header small {
    color: #fdfdfd;
    display: block;
    font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    padding-top: .5em;
    text-transform: uppercase; }

#footer {
  background: #231f20;
  color: #fdfdfd; }

body.menu-open #navigation {
  margin-left: 0; }

body.menu-open #container {
  margin-left: 320px; }

#navigation {
  left: 0;
  margin-left: -320px;
  position: fixed;
  -webkit-transition: margin-left 0.5s;
  -moz-transition: margin-left 0.5s;
  -ms-transition: margin-left 0.5s;
  -o-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  width: 320px;
  z-index: 1; }

.list-routes {
  list-style-type: none;
  overflow-y: scroll; }
  .list-routes li {
    display: table;
    float: left;
    height: 12.5vh;
    width: 100%; }
  .list-routes .route {
    background: #fdfdfd;
    box-shadow: 0 0 3px -1px #231f20;
    display: table-cell;
    font-weight: bold;
    vertical-align: middle;
    padding-right: 2em;
    position: relative;
    text-align: right;
    width: 100%; }
    .list-routes .route p {
      font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 100;
      text-transform: uppercase; }
  .list-routes .route-blue {
    color: #2962ff; }
  .list-routes .route-brown {
    color: #5d4037; }
  .list-routes .route-green {
    color: #388e3c; }
  .list-routes .route-orange {
    color: #ff6d00; }
  .list-routes .route-pink {
    color: #c51162; }
  .list-routes .route-purple {
    color: #7b1fa2; }
  .list-routes .route-red {
    color: #d50000; }
  .list-routes .route-yellow {
    color: #fbc02d; }

.eta.route-1 + .eta.route-5,
.eta.route-5 + .eta.route-1 {
  border-top: .125em solid;
  margin-top: 1em;
  padding-top: 1em; }

.destination {
  float: left; }
  .destination small {
    display: block;
    font-size: .33em;
    font-weight: normal; }

.distance {
  float: right;
  text-align: right; }
  .distance small {
    display: block;
    font-size: .33em;
    font-weight: normal; }

#stops-list {
  list-style-type: none; }

.card {
  display: block;
  margin: 1em;
  padding: 0 .5em;
  list-style-type: none; }
