.menu-open #content {
  -moz-filter: blur(2px);
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

#content {
  padding: 0;
  position: relative;
  max-width: 768px;
  margin: auto;
  min-height: 320px;
  a {
    color: $white;
  }
}
#stops-content {
  padding: 4em 0 2em;
  min-height: 320px;
}
$offset: 187;
$duration: 1.4s;

.spinner {
  display: block;
  margin: auto;
  -webkit-animation: rotator $duration linear infinite;
}

@-webkit-keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke: $white;
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  -webkit-animation:
    dash $duration ease-in-out infinite;
}

@-webkit-keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}
