.station-header {
  background: $line_blue;
  padding: 2em 1em;
  text-align: center;
  small {
    color: $white;
    display: block;
    font-family: $heading;
    font-weight: 300;
    padding-top: .5em;
    text-transform: uppercase;
  }
}
.card {
}


.list-routes {
  list-style-type: none;
  li {
    display: table;
    height: 120px;
    width: 100%;
    @media screen and (min-width: $s-m) {
      float: left;
      height: 180px;
      width: 50%;
    }
    @media screen and (min-width: $large) {
      height: 240px;
      width: 25%;
    }
  }
 .route {
  background: $white;
  display: table-cell;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  
 }
 .route-blue {
  color: $line_blue;
 }
 .route-brown {
  color: $line_brown;
 }
 .route-green {
  color: $line_green;
 }
 .route-orange {
  color: $line_orange;
 }
 .route-pink {
  color: $line_pink;
 }
 .route-purple {
  color: $line_purple;
 }
 .route-red {
  color: $line_red;
 }
 .route-yellow {
  color: $line_yellow;
 }
}
