.station-header {
  background: $line_blue;
  padding: 2em 1em;
  text-align: center;
  small {
    color: $white;
    display: block;
    font-family: $heading;
    font-weight: 300;
    padding-top: .5em;
    text-transform: uppercase;
  }
}
.card {
}


.list-routes {
  list-style-type: none;
 li {
  display: block;
  float: left;
  height: 120px;
  width: 100%;
 } 
}
