body.menu-open #navigation {
  margin-left: 0;
}
body.menu-open #container {
  margin-left: 320px;
}
#navigation {
  left: 0;
  margin-left: -320px;
  position: fixed;
  @include transition(margin-left .5s);
  width: 320px;
}
.list-routes {
  list-style-type: none;
  overflow-y: scroll;
  li {
    display: table;
    float: left;
    height: 25vh;
    width: 50%;
    @media screen and (min-width: $m-l) {
      height: 2.5vh;
      width: 100%;
    }
  }
 .route {
  box-shadow: 0 0 3px -1px $black;
  color: $white;
  display: table-cell;
  font-weight: bold;
  vertical-align: middle;
  padding-right: 2em;
  position: relative;
  text-align: right;
  width: 100%;
  p {
    font-family: $heading;
    font-weight: 100;
    text-transform: uppercase;
  }
 }
 .route-blue {
  background: linear-gradient(to right, $blue 66%, $dark_blue);
 }
 .route-brown {
  background: linear-gradient(to right, $brown 66%, $dark_brown);
 }
 .route-green {
  background: linear-gradient(to right, $green 66%, $dark_green);
 }
 .route-orange {
  background: linear-gradient(to right, $orange 66%, $dark_orange);
 }
 .route-pink {
  background: linear-gradient(to right, $pink 66%, $dark_pink);
 }
 .route-purple {
  background: linear-gradient(to right, $purple 66%, $dark_purple);
 }
 .route-red {
  background: linear-gradient(to right, $red 66%, $dark_red);
 }
 .route-yellow {
  background: linear-gradient(to right, $yellow 66%, $dark_yellow);
 }
}
