body.menu-open #navigation {
  margin-left: 0;
}
body.menu-open #container {
  margin-left: 320px;
}
#navigation {
  left: 0;
  margin-left: -320px;
  position: fixed;
  @include transition(margin-left .5s);
  width: 320px;
  z-index: 1;
}
.list-routes {
  list-style-type: none;
  overflow-y: scroll;
  li {
    display: table;
    float: left;
    height: 12.5vh;
    width: 100%;
  }
 .route {
  background: $white;
  box-shadow: 0 0 3px -1px $black;
  display: table-cell;
  font-weight: bold;
  vertical-align: middle;
  padding-right: 2em;
  position: relative;
  text-align: right;
  width: 100%;
  p {
    font-family: $heading;
    font-weight: 100;
    text-transform: uppercase;
  }
 }
 .route-blue {
  color: $dark_blue;
 }
 .route-brown {
  color: $dark_brown;
 }
 .route-green {
  color: $dark_green;
 }
 .route-orange {
  color: $dark_orange;
 }
 .route-pink {
  color: $dark_pink;
 }
 .route-purple {
  color: $dark_purple;
 }
 .route-red {
  color: $dark_red;
 }
 .route-yellow {
  color: $dark_yellow;
 }
}
