<p class="disclaimer">Hi. This is still an early work in progress.  If you  find something broken, please let me know on <a href="http://twitter.com/billHinderman" target="_blank" rel="external">twitter</a>.  Expect regular updates and an eventual move from this domain.  I'll keep you posted.</p>

<div class="colophon">
  <p>With ❤ from space.</p>
  <p>Made for <a href="http://www.starbasego.com/chicago" target="_blank" rel="external">Chicago</a> by <a href="http://www.billhinderman.com" target="_blank" rel="author">Bill Hinderman</a>.</p>
  <p>©2015 Starbase Go.<p>
</div>
