<div class="station-header blue">
  <h1>Division</h1>
  <h2>A Blue Line Station</h2>
</div>

<div class="card station-element">
  <h3 class="destination">Service toward: <b>Loop</b></h3>
  <time datetime="5" class="eta"><b>5</b> minutes</time>
  <lat>41.8545</lat>
  <lon>-87.67741</lon>
</div>

<div class="card station-element delayed">
  <h3 class="destination">Service toward: <b>Loop</b></h3>
  <time datetime="5" class="eta">5 minutes</time>
  <lat>41.8545</lat>
  <lon>-87.67741</lon>
</div>

<div class="card station-element approaching">
  <h3 class="destination">Service toward: <b>Loop</b></h3>
  <time datetime="5" class="eta">5 minutes</time>
  <lat>41.8545</lat>
  <lon>-87.67741</lon>
</div>


<staId>40830</staId>
<stpId>30161</stpId>
<staNm>18th</staNm>
<stpDe>Service toward Loop</stpDe>
<rn>313</rn>
<rt>Pink</rt>
<destSt>30114</destSt>
<destNm>Loop</destNm>
<trDr>1</trDr>
<prdt>20141208 21:08:52</prdt>
<arrT>20141208 21:10:52</arrT>
<isApp>0</isApp>
<isSch>0</isSch>
<isDly>0</isDly>
<isFlt>0</isFlt>
<flags/>
<lat>41.8545</lat>
<lon>-87.67741</lon>
<heading>89</heading>
