<ul class="list-routes float-clear">
  <li>
    <a class="route route-blue">
      <h3>Blue</h3>
      <p>Gateway to the skies.</p>
    </a>
  </li>
  <li>
    <a class="route route-brown">
      <h3>Brown</h3>
      <p>Gateway to the skies.</p>
    </a>
  </li>
  <li><a class="route route-green">
      <h3>Brown</h3>
      <p>Gateway to the skies.</p>
    </a></li>
  <li><a class="route route-orange">
      <h3>Brown</h3>
      <p>Gateway to the skies.</p>
    </a></li>
  <li><a class="route route-pink">
      <h3>Brown</h3>
      <p>Gateway to the skies.</p>
    </a></li>
  <li><a class="route route-purple">
      <h3>Brown</h3>
      <p>Gateway to the skies.</p>
    </a></li>
  <li><a class="route route-red">
      <h3>Brown</h3>
      <p>Gateway to the skies.</p>
    </a></li>
  <li><a class="route route-yellow">
      <h3>Brown</h3>
      <p>Gateway to the skies.</p>
    </a></li>
</ul>
